<div *ngIf="pelicula">
  <h3>{{ pelicula.nombre }}</h3>
  <ul>
    <li><strong>Tipo:</strong> {{ pelicula.tipo }}</li>
    <li><strong>Fecha de Estreno:</strong> {{ pelicula.fechaEstreno | date: 'yyyy-MM-dd' }}</li>
    <li><strong>Cantidad de Publico:</strong> {{ pelicula.cantidadPublico }}</li>
    <li><strong>Protagonista:</strong> {{ pelicula.protagonista }}</li>
  </ul>
  <img [src]="pelicula.imagen" alt="{{ pelicula.nombre }}" class="img-thumbnail" style="max-width: 200px;">
</div>
<div *ngIf="!pelicula">
  <p>No movie selected.</p>
</div>
