<div class="container">
  <table class="table table-striped" *ngIf="actores$ | async as actores">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let actor of actores">
      <td>{{ actor.nombre }}</td>
      <td>{{ actor.apellido }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="seleccionarActor(actor)">Seleccionar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
