<div class="container py-3">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Listado Actores</h1>
    <app-listado-actores (actorSeleccionado)="alSeleccionarUnActor($event)"></app-listado-actores>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Detalle Actor</h4>
        </div>
        <div class="card-body">
          <app-detalle-actor [actorSeleccionado]="actorSeleccionado"></app-detalle-actor>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Detalle País</h4>
        </div>
        <div class="card-body">
          <app-detalle-pais [pais]="actorSeleccionado.pais"></app-detalle-pais>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Películas Actor</h4>
        </div>
        <div class="card-body">
          <app-peliculas-actor [actorSeleccionado]="actorSeleccionado"></app-peliculas-actor>
        </div>
      </div>
    </div>
  </div>


</div>
