<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Listado de Películas</h1>

      <app-tabla-peliculas (peliculaSeleccionada)="alSeleccionarPelicula($event)" ></app-tabla-peliculas>

    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Detalle de Películas</h2>
        <p>
          <app-detalle-peliculas [pelicula]="peliculaSeleccionada" ></app-detalle-peliculas>
        </p>
        <button class="btn" type="button">Example button</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 p-5 bg-dark border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to
          look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's
          content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>

</div>

